In [1]:
###################
#Lenovo L13       #
#python version3  #
#Mohamed Emam     #
#Protein filter   #
###################
#Import library
import pandas as pd
#Read the file
mRNA_data= pd.read_csv("/Users/mmansour/Desktop/mRNA_data.csv")
mRNA_data['Total'] = mRNA_data.sum(axis=1)
filter_features  = mRNA_data.loc[mRNA_data['Total'] < 10]
filter_features

Empty DataFrame
Columns: [Features_name, 1, 2, 3, 4, 6, 8, 9, 11, 13, 15, 18, 19, 20, 21, 23, 24, 26, 28, 30, 32, 33, 34, 36, 38, 39, 40, 43, 44, 45, 46, 48, Total]
Index: []

[0 rows x 33 columns]

In [2]:
mRNA_features_index = filter_features.index
index_list = list(mRNA_features_index)
mRNA_data = mRNA_data.drop(mRNA_data.index[index_list])
mRNA_data = mRNA_data.iloc[0:, 0:(len(mRNA_data.columns)-1)]
#Export_csv
mRNA_data.to_csv("/Users/mmansour/Desktop/RNA_filtered.csv", index=False)